span[is] { border: 1px solid #000000; border-radius: 0.25rem; padding: 0.25rem 0.5rem; }

#news:empty::after { content: 'Loading...'; 	-webkit-animation:blink 1.5s ease-in-out infinite alternate;
    -moz-animation:blink 1.5s ease-in-out infinite alternate;
    animation:blink 1.5s ease-in-out infinite alternate;
}
